body {
  background-color: grey;
}

.square {
  align-items: center;
  background-color: red;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  /* pour gérer les animations */
  transition: all 2s;
}

.square:hover {
  background-color: yellow;
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
  color: white;
}

.square p:hover {
  opacity: 0;
}

.number {
  font-size: 24px;
  font-weight: bold;
  transition: opacity 2s linear;
}
